-
    const datasite = {
        "site": 
        {
            "title-general": "Practica Sofa",
            "author": "Toni Ferra",
            "meta": 
            {
                "charset": "utf-8",
                "manifest": "site.webmanifest",
                "appleicon": "icon.png",
                "favicon": "favicon.ico",
                "default-language": "es",
                "theme-color": "#fafafa",
                "description-general": "Los mejores sofas",
                "keywords-general": "key general, key general, key general",
                "url-general": "https://www.ejemplosofas.com",
            },
            //- tienen que coincidir pages y titles y seo-general
            "pages": ["index", "productos", "quienes"],
            "titles":
            {
                "index": "Pagina principal de sofas",
                "productos": "titulo productos",
                "quienes": "quienes somos",
                
            },
            "seo-general": 
            {

                "index":
                {
                    "description": "Lorem ipsum dolor sit amit.",
                    "keywords": "lorem, ipsum, dolor, sit, amit",
                    "url": "https://www.ejemplo.com"
                },
                "producto":
                {
                    "description": "Lorem ipsum dolor sit amit.",
                    "keywords": "lorem, ipsum, dolor, sit, amit",
                    "url": "https://www.ejemplo.com"
                },
                "quienes":
                {
                    "description": "Lorem ipsum dolor sit amit.",
                    "keywords": "lorem, ipsum, dolor, sit, amit",
                    "url": "https://www.ejemplo.com"
                },
                
            },
            "seo-social":
            {
                "generico":
                {
                    "og": 
                    {
                        "title": "Lorem Ipsum general",
                        "type": "tipo general",
                        "url": "http://www.ejemplogeneral.com",
                        "image": "imagen general ejemplo"
                    }
                    

                },
                "index":
                {
                    "og": 
                    {
                        "title": "Lorem Ipsum index",
                        "type": "tipo del index",
                        "url": "http://www.ejemploindex.com",
                        "image": "imagen del index ejemplo"
                    }

                }
            },
            

        },
        "nav": 
        {
            "header": 
            [
                {
                    "href": "./index.html",
                    "displayName": "Inicio",
                    "classname": "inicio",
                },
                {
                    "href": "./productos.html",
                    "displayName": "Productos",
                    "classname": "productos"
                },
                {
                    "href": "./quienes.html",
                    "displayName": "Quienes",
                    "classname": "quienes"
                    
                }
            ],
            
            "footer":
            [
                {
                    "href": "./conctar.html",
                    "displayName": "Contactar",
                    "classname": "linkcontactar"
                },
                
            ]
        },
        

    };


-const anyoactual = new Date().getFullYear();