header.header
        ul.listadolinks__tabla
            li.tabla__elementoheader
                |
                nav.header__listadolinks
                    |
                    |
                    if currentpage == "index"
                        a(class="elementoheader__link", href="#")
                            | Inicio
                    else
                        a(class="elementoheader__link", href="index.html")
                        | Inicio
                    |
                    |
                    if currentpage == "productos"
                        a(class="elementoheader__link", href="#")
                            | Productos
                    else
                        a(class="elementoheader__link", href="productos.html")
                            | Productos
                    |
                    |
                    if currentpage == "quienes"
                        a(class="elementoheader__link", href="#")
                            | Quienes Somos
                    else
                        a(class="elementoheader__link", href="quienes.html")
                            | Quienes Somos
                    |
            li.tabla__elementofooter
                a(class="elementofooter__link", href="contactar.html")
                    | Contactar
