extends ../templates/_template.pug


//- bloque de variableslocales
block variableslocales
    //- variable nos sirve para pasar como parametro en lso mixins
    //- asi los mixins saben que pagina se los envia
    -let currentpage = "index"


//- Si queremos realizar seo pagina especifica
//- sobreescribe el seo general
//- block seo
//-     +generarseocompleto(currentpage)


//- Si queremos un titulo especificico para una pagina
//- sobreescribe el titulo general
//- block title
//-     +showtitulo(currentpage)

block main
    main.mainindex
        article.mainindex__articulo
            h1.articulo__producto Sofa
            p.articulo__descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ut nam sit iusto fuga asperiores eaque blanditiis iure maiores dolorem repudiandae vel rem sed quo, aut quam commodi aliquid cumque incidunt excepturi. Quia, sint illo consequatur nisi adipisci recusandae explicabo, quos et harum impedit beatae, voluptatum quibusdam? Praesentium, modi dolorum.
            //- fondo sofa centrado -1 z-index
            +picture("sofa_scandinavia", 
                "mejor sofa scandinavia", 
                "imagen__picture")