/* **************************** */
/* VARIABLES */
/* **************************** */

//-------------------- FONT FAMILY --------------------//
$font-primary: "arialregular";
$font-secondary: "arialblack";
$font-size-base: 16px;

//-------------------- FONT SIZES  --------------------//



$font-size-peque: 13px;
$font-size-base: 16px;
$font-size-medio: 24px;
$font-size-grande: 103px;

//-------------------- LINE HEIGHT --------------------//
$line-height-none: 0px;
$line-height-base: 16px;
$line-height-large: 40px;

//-------------------- SIZE PIXELS  --------------------//
$size-logo-w: 40px;
$size-logo-h: 40px;

//-------------------- MARGENES  --------------------//
$padding-left-header: 20px;
$padding-input: 10px;

//-------------------- COLORES --------------------//
$azul-fuerte: #4A92BA;
$azul-claro: #ADC6D4;
$blanco: #ffffff;


//-------------------- COLORES SEMANTICOS --------------------//
$color-fondo-derecha: $azul-fuerte;
$color-fondo-izquierda: $azul-claro;
$color-texto-base: $blanco;
$color-boton-base: $azul-claro;


